%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.loft.index.header')
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/platform/3.JPG", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")
%p
.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      =raw t("page.loft.index.about")
