%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Тележки

.col-md-6.table_position_trolleys
  %form{:id => "id_el_1", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_1')"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-01", :type => "text"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-01
      .row
        .col-md-12
          %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_01.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement1a','chg_img_10')" }
      %img{:id => "chg_img_10", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-01
    .hidenelement1a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys



.col-md-6.table_position_trolleys
  %form{:id => "id_el_2", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_2');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-02", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-02
      .row
        .col-md-12
          %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_02.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement2','chg_img_11')" }
      %img{:id => "chg_img_11", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-02
    .hidenelement2
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:5%; height:1px; clear:both;"}








.col-md-6.table_position_trolleys
  %form{:id => "id_el_3", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_3');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-03", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-03
      .row
        .col-md-12
          %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_03.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement3','chg_img_12')" }
      %img{:id => "chg_img_12", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-03
    .hidenelement3
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys









.col-md-6.table_position_trolleys
  %form{:id => "id_el_4", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_4');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-04", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-04
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_04.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement4','chg_img_13')" }
      %img{:id => "chg_img_13", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-04
    .hidenelement4
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:5%; height:1px; clear:both;"}





.col-md-6.table_position_trolleys
  %form{:id => "id_el_5", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_5');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-05", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-05
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_05.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement5','chg_img_14')" }
      %img{:id => "chg_img_14", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-05
    .hidenelement5
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys





.col-md-6.table_position_trolleys
  %form{:id => "id_el_6", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_6');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-06", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-06
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_06.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement6','chg_img_15')" }
      %img{:id => "chg_img_15", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-06
    .hidenelement6
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:5%; height:1px; clear:both;"}


%div{:style => " width:100%; height:1px; clear:both;"}
.col-md-6.table_position_trolleys
  %form{:id => "id_el_7", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_7');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-07", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель TР-07
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/TP_07.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement7','chg_img_16')" }
      %img{:id => "chg_img_16", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели ТР-07
    .hidenelement7
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:100%; height:1px; clear:both;"}






.col-md-6.table_position_trolleys
  %form{:id => "id_el_8", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_8');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-01", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель KS-01
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/KS_01.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм или ламинированное ДСП 16мм
                %br
                4) Сетка 50х50х3
                %br
                5) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement8','chg_img_17')" }
      %img{:id => "chg_img_17", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели KS-01
    .hidenelement8
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-12
          %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
            Лист 2мм
          %p
            %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
              Ламинированное ДСП
      .row
        .col-md-12
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys





.col-md-6.table_position_trolleys
  %form{:id => "id_el_9", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_9');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-02", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель KS-02
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/KS_02.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм или ламинированное ДСП 16мм
                %br
                4) Сетка 50х50х3
                %br
                5) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement9','chg_img_18')" }
      %img{:id => "chg_img_18", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели KS-02
    .hidenelement9
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-12
          %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
            Лист 2мм
          %p
            %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
              Ламинированное ДСП
      .row
        .col-md-12
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:5%; height:1px; clear:both;"}


.col-md-6.table_position_trolleys
  %form{:id => "id_el_10", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_10');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-03", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель KS-03
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/KS_03.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                  1) Труба 25х25
                  %br
                  2) Уголок 20х20
                  %br
                  3) Лист 2мм или ламинированное ДСП 16мм
                  %br
                  4) Сетка 50х50х3
                  %br
                  5) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement10a','chg_img_19')" }
      %img{:id => "chg_img_19", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели KS-03
    .hidenelement10a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-12
          %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
            Лист 2мм
          %p
            %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
              Ламинированное ДСП
      .row
        .col-md-12
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys




.col-md-6.table_position_trolleys
  %form{:id => "id_el_11", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_11');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-04", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель KS-04
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/KS_04.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм или ламинированное ДСП 16мм
                %br
                4) Сетка 50х50х3
                %br
                5) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement11a','chg_img_20')" }
      %img{:id => "chg_img_20", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели KS-04
    .hidenelement11a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-12
          %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
            Лист 2мм
          %p
            %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
              Ламинированное ДСП
      .row
        .col-md-12
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:5%; height:1px; clear:both;"}






.col-md-6.table_position_trolleys
  %form{:id => "id_el_12", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_12');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-01", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель PT-01
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/PT_01.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Лист 2мм
                %br
                3) Сетка 50х50х3
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement12a','chg_img_21')" }
      %img{:id => "chg_img_21", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели PT-01
    .hidenelement12a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys




.col-md-6.table_position_trolleys
  %form{:id => "id_el_13", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_13');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-02", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель PT-02
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/PT_02.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Лист 2мм
                %br
                3) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement13a','chg_img_22')" }
      %img{:id => "chg_img_22", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели PT-02
    .hidenelement13a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:100%; height:1px; clear:both;"}



.col-md-6.table_position_trolleys
  %form{:id => "id_el_14", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_14');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-03", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель PT-03
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/PT_03.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Ламинированное ДСП 16мм
                %br
                4) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement14a','chg_img_23')" }
      %img{:id => "chg_img_23", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели PT-03
    .hidenelement14a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys





.col-md-6.table_position_trolleys
  %form{:id => "id_el_15", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_15');"}
    %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-04", :type => "text",:display => "false"}
    .container-fluid
      .row
        .col-md-8.header_name_trolleys
          Модель PT-04
      .row
        .col-md-12
          %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
            %tr
              %td{:align => "center"}
                =image_tag("trolleys/PT_04.png", :width => 100, :height => 100)
              %td
                Использованные материалы:
                %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Сетка 50х50х3
                %br
                4) Ламинированное ДСП 16мм
                %br
                5) Порошковая краска RAL5005(синяя)
    .text_size{:onclick => "showHide('hidenelement15a','chg_img_24')" }
      %img{:id => "chg_img_24", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
      On-line расчет модели PT-04
    .hidenelement15a
      .row
        .col-md-6
          =label_tag(:q, "Длина")
          %p
            (600-1500 мм)
          %p{:title => "Длина платформы тележки в миллиметрах"}
            %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Ширина")
          %p
            (500-1200 мм)
            %p{:title => "Шрина тележки в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
      .row
        .col-md-6
          =label_tag(:q, "Высота ручки")
          %p
            (600-1200 мм)
          %p{:title => "Высота ручки от пола в милиметрах"}
            %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}
        .col-md-6
          =label_tag(:q, "Нагрузка на полочку")
          %p
            (50-400 кг.)
          %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                   :size => "10", :value => "", :type => "text"}

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
    %p.distance_from_trolleys
%div{:style => " width:100%; height:1px; clear:both;"}

