%h1 Тележки
.container-fluid
  .row
    .col-xs-10
      Основные модели тележек представлены на данной странице ниже.
  .row
    .col-xs-10.alert_style
      Внимание! Тележки поставляються без колес.
  .row
    .col-xs-10
      Колеса для тележек Вы можете заказать у наших партнеров:
      =link_to("Складские технологии", "http://www.sklad.ws/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0-%D0%B4%D0%BB%D1%8F-%D1%82%D0%B5%D0%BB%D0%B5%D0%B6%D0%B5%D0%BA", target: "_blank")

%form{:id => "id_el_1", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_1')"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-01", :type => "text"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-01
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_01.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
    %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-01
  .hiden_element_1.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys









%form{:id => "id_el_2", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_2');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-02", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-02
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_02.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_2','chg_img_2')" }
    %img{:id => "chg_img_2", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-02
  .hiden_element_2.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys










%form{:id => "id_el_3", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_3');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-03", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-03
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_03.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_3','chg_img_3')" }
    %img{:id => "chg_img_3", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-03
  .hiden_element_3.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys










%form{:id => "id_el_4", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_4');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-04", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-04
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_04.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_4','chg_img_4')" }
    %img{:id => "chg_img_4", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-04
  .hiden_element_4.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys







%form{:id => "id_el_4", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_5');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-05", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-05
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_05.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_5','chg_img_5')" }
    %img{:id => "chg_img_5", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-05
  .hiden_element_5.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys






%form{:id => "id_el_6", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_6');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-06", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-06
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_06.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Лист 2мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_6','chg_img_6')" }
    %img{:id => "chg_img_6", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-06
  .hiden_element_6.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys





%form{:id => "id_el_7", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_7');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "TP-07", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель TР-07
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/TP_07.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Лист 2мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_7','chg_img_7')" }
    %img{:id => "chg_img_7", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели ТР-07
  .hiden_element_7.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys






%form{:id => "id_el_8", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_8');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "KS-01", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель KS-01
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/KS_01.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Лист 2мм или ламинированное ДСП 16мм
              %br
              4) Сетка 50х50х3
              %br
              5) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_8','chg_img_8')" }
    %img{:id => "chg_img_8", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели KS-01
  .hiden_element_8.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-2
        %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
          Лист 2мм
        %p
          %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
            Ламинированное ДСП
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys






%form{:id => "id_el_9", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_9');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "KS-02", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель KS-02
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/KS_02.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Лист 2мм или ламинированное ДСП 16мм
              %br
              4) Сетка 50х50х3
              %br
              5) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_9','chg_img_9')" }
    %img{:id => "chg_img_9", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели KS-02
  .hiden_element_9.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-2
        %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
          Лист 2мм
        %p
          %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
            Ламинированное ДСП
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys




%form{:id => "id_el_10", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_10');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "KS-03", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель KS-03
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/KS_03.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
                1) Труба 25х25
                %br
                2) Уголок 20х20
                %br
                3) Лист 2мм или ламинированное ДСП 16мм
                %br
                4) Сетка 50х50х3
                %br
                5) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_10','chg_img_10')" }
    %img{:id => "chg_img_10", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели KS-03
  .hiden_element_10.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-2
        %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
          Лист 2мм
        %p
          %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
            Ламинированное ДСП
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys





%form{:id => "id_el_11", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_11');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "KS-04", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель KS-04
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/KS_04.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Лист 2мм или ламинированное ДСП 16мм
              %br
              4) Сетка 50х50х3
              %br
              5) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_11','chg_img_11')" }
    %img{:id => "chg_img_11", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели KS-04
  .hiden_element_11.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-2
        %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
          Лист 2мм
        %p
          %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
            Ламинированное ДСП
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys








%form{:id => "id_el_12", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_12');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "PT-01", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель PT-01
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/PT_01.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Лист 2мм
              %br
              3) Сетка 50х50х3
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_12','chg_img_12')" }
    %img{:id => "chg_img_12", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели PT-01
  .hiden_element_12.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys





%form{:id => "id_el_13", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_13');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "PT-02", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель PT-02
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/PT_02.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Лист 2мм
              %br
              3) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_13','chg_img_13')" }
    %img{:id => "chg_img_13", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели PT-02
  .hiden_element_13.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys





%form{:id => "id_el_14", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_14');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "PT-03", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель PT-03
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/PT_03.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Ламинированное ДСП 16мм
              %br
              4) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_14','chg_img_14')" }
    %img{:id => "chg_img_14", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели PT-03
  .hiden_element_14.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys






%form{:id => "id_el_15", :action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_trolleys ('id_el_15');"}
  %input.hiden_input{:name => "vid",:size => "10", :value => "PT-04", :type => "text",:display => "false"}
  .container-fluid
    .row
      .col-md-8.header_name_trolleys
        Модель PT-04
    .row
      .col-md-6
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %td{:align => "center"}
              =image_tag("trolleys/PT_04.png", :width => 100, :height => 100)
            %td
              Использованные материалы:
              %p
              1) Труба 25х25
              %br
              2) Уголок 20х20
              %br
              3) Сетка 50х50х3
              %br
              4) Ламинированное ДСП 16мм
              %br
              5) Порошковая краска RAL5005(синяя)
  .text_size{:onclick => "showHide('hiden_element_15','chg_img_15')" }
    %img{:id => "chg_img_15", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
    On-line расчет модели PT-04
  .hiden_element_15.hiden_input
    .row
      .col-md-2
        =label_tag(:q, "Длина")
        %p
          (600-1500 мм)
        %p{:title => "Длина платформы тележки в миллиметрах"}
          %input{:maxlength => "4", :name => "lengthT", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Ширина")
        %p
          (500-1200 мм)
          %p{:title => "Шрина тележки в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Высота ручки")
        %p
          (600-1200 мм)
        %p{:title => "Высота ручки от пола в милиметрах"}
          %input{:maxlength => "4", :name => "hight_ruch", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}
      .col-md-2
        =label_tag(:q, "Нагрузка на полочку")
        %p
          (50-400 кг.)
        %p{:title => "Максимальная распределенная нагрузка на одну полку тележки"}
          %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                 :size => "10", :value => "", :type => "text"}

    .row
      .col-md-3
        %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
  %p.distance_from_trolleys