%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Стеллажи архивные
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/stillage_arxiv/tytle_page.gif", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")
%p
%form{:action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_stilage ( );"}
  .container-fluid
    .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
      %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
      On-line расчет стеллажа
    .hiden_element_1
      .row
        .col-md-2
          =label_tag(:q, "Высота")
          %p
            (500-3500 мм)
          %p{:title => "Высота вашего стеллажа указаная в милиметрах"}
            %input{:maxlength => "4", :name => "hight", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Ширина")
          %p
            (400-1150 мм)
          %p{:title => "Шрина полочки указаная в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Глубина")
          %p
            (250-800 мм)
          %p{:title => "Глубина полочки указаная в милиметрах"}
            %input{:maxlength => "4", :name => "depth", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Количество полок")
          %p
            (2-15 шт.)
          %p{:title => "Количество полок на один стеллаж"}
            %input{:maxlength => "2", :name => "num_of_shelves", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
        .col-md-3
          =label_tag(:q, "Нагрузка на полку")
          %p
            (20-100 кг)
          %p{:title => "Максимальная распределенная нагрузка на одну полку стеллажа"}
            %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
              :size => "10", :value => "", :type => "text"}
      .row
        .col-md-3
          %p

      .row
        .col-md-3
          .style_text_about_stillage_stillage_warehouse_stillage_pallet
            %input{:name => "group1" , :type => "radio", :value => "osinkovaniy", :checked => "checked"}
              Оцинкованый
            %p
              %input{:name => "group1" , :type => "radio", :value => "okrash"}
                Окрашенный
      .row
        .col-md-3
          %p

      .row
        .col-md-3
          %input{:name => "send", :type => "submit", :value => "Рассчитать стеллаж", :class => "btn btn-success"}
%p

.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      Стеллаж состоит из: стоек, полок и усилителей (наличие усилителей зависит от нагрузки на полку).
      %p
        1. Стойка: гнутый уголок с продольными ребрами жесткости длинной 500-3500мм. из оцинкованной стали марки 08 КП толщиной 1,15 мм.
        Зацепы для крепления полок пробиты по длине стойки с шагом  100-400 мм., что позволяет переставлять полки на требуемую высоту.
      %p
        2. Полка: гнутая коробчатая конструкция с продольными и поперечными ребрами жесткости. Длина полки 400-1150 мм. ,ширина 250-800 мм.  Высота ребер жесткости 30 мм.
        Полка изготовлена из оцинкованной стали марки 08КП толщиной 0,55-1.00 мм. Клиновидные отверстия для зацепления за стойки, пробиты в ребрах жесткости по два с каждой стороны.
      %p
        3. Усилитель: гнутая профильная конструкция из оцинкованной стали 08КП толщиной 0,55-1.00 мм.
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table Фото
          %th.header_table Название
          %th.header_table Технические характеристики
          %tr{:align => "center"}
            %td
              =image_tag("design/all_parts/stillage_arxiv/Paspor_stoyka.png", :width => "100", :height => "200")
            %td
              Стойка
            %td
              %p
                Высота:  1000-3500 мм.
              %p
                Нагрузка – 500 кг
              %p
                Оцинкованная/Окрашенная (RAL5005, RAL7035)
          %tr{:align => "center"}
            %td
              =image_tag("", :width => "200", :height => "200")
            %td
              Полка
            %td
              %p
                Длина – 400-1150 мм
              %p
                Ширина 250-800 мм
              %p
                Нагрузка – до 100 кг
              %p
                Оцинкованная/Окрашенная (RAL5005, RAL7035)
          %tr{:align => "center"}
            %td
              =image_tag("", :width => "200", :height => "200")
            %td
              Усилитель
            %td
              %p
                Длина – 400-1150 мм
              %p
                Ширина 40 мм
              %p
                Оцинкованный/Окрашенный (RAL5005, RAL7035)
