%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Стеллаж архивный
%p.style_p
  ="#{@name_stilage}"
%p.style_p
  ="Максимальная нагрузка на одну полку #{@shelf_load_var} кг."
%p.style_p
  ="Вес: #{@wei_stilage} кг."
%p.style_p
  ="Цена: #{@price_stillage} грн."




