%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Стеллажи складские
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/stillage_warehouse/tytle_page.gif", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")
%p
%form{:action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form ( );"}
  .container-fluid
    .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
      %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
      On-line расчет стеллажа
    .hiden_element_1
      -if @constant.on_off_calc_stillage_warehouse==false
        .row
          .col-md-2
            =label_tag(:q, "Высота")
            %p
              (1500-5200 мм)
            %p{:title => "Высота вашего стеллажа указаная в милиметрах"}
              %input{:maxlength => "4", :name => "hight", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}

          .col-md-2
            =label_tag(:q, "Ширина")
            %p
              (800-2700 мм)
            %p{:title => "Шрина полочки указаная в милиметрах"}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}

          .col-md-2
            =label_tag(:q, "Глубина")
            %p
              (300-1500 мм)
            %p{:title => "Глубина полочки указаная в милиметрах"}
              %input{:maxlength => "4", :name => "depth", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}

          .col-md-2
            =label_tag(:q, "Количество полок")
            %p
              (2-15 шт.)
            %p{:title => "Количество полок на один стеллаж"}
              %input{:maxlength => "2", :name => "num_of_shelves", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
          .col-md-3
            =label_tag(:q, "Нагрузка на уровень")
            %p
              (150-400 кг.)
            %p{:title => "Максимальная распределенная нагрузка на один уровень хранения стеллажа"}
              %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
        .row
          .col-md-5
            .style_text_about_stillage_stillage_warehouse_stillage_pallet
              %input{:name => "group3" , :type => "radio", :value => "metall", :checked => "checked", :onclick => "hide_dsp( )"}
                Полка металлическая
                %p
                  %input{:name => "group3" , :type => "radio", :value => "dsp", :onclick => "hide_dsp( )" }
                    Каркас под ДСП (без учета ДСП)

        .row
          .col-md-6
            .style_text_about_stillage_stillage_warehouse_stillage_pallet
              %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
                %tr
                  %th{:colspan => "2"} Окраска
                %tr
                  %td Рама
                  %td
                    %input{:name => "group1" , :type => "radio", :value => "osinkovaniy", :checked => "checked"}
                      Оцинкованная
                    %p
                      %input{:name => "group1" , :type => "radio", :value => "okrash"}
                        Окрашенная
                  %tr{:id => "hiden_radio_3"}
                    %td Полка
                    %td
                      %input{:id => "hiden_radio_1", :name => "group2" , :type => "radio", :value => "osinkovaniy", :checked => "checked"}
                        Оцинкованная
                      %p
                        %input{:id => "hiden_radio_2", :name => "group2" , :type => "radio", :value => "okrash"}
                          Окрашенная
          .col-md-3
            %p
        .row
          .col-md-3
            %p
            %input{:name => "send", :type => "submit", :value => "Рассчитать стеллаж", :class => "btn btn-success"}
      -else
        .on_line_calculation_off
          On-line расчет временно недоступен.

%p


.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      Стеллаж состоит из  : рам, траверс, и  полок с усилителями.
      %p
        1.  Рама стеллажа представляет собой две вертикальные стойки специального профиля с перфорацией, соединённых между собой горизонтальными и наклонными перемычками..
      %p
        2. Траверса гнутая из листового металла с  захватами для крепления к рамам.
      %p
        3. Стеллажи комплектуются полками из ДСП или металла.
      %p
        4. Шаг перестановки траверс – 75 мм
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table Фото
          %th.header_table Название
          %th.header_table Технические характеристики
          %tr{:align => "center"}
            %td
              =image_tag("design/all_parts/stillage_warehouse/Pasport_table_rama.png", :width => "200", :height => "200")
            %td
              Рама
            %td
              %p
                Высота:  1500-5200 мм.
              %p
                Ширина:  300-1500 мм
              %p
                Нагрузка – 2100 кг
              %p
                Оцинкованная/Окрашенная (RAL5005)
          %tr{:align => "center"}
            %td
              =image_tag("design/all_parts/stillage_warehouse/Pasport_table_travers.png", :width => "200", :height => "200")
            %td
              Траверса
            %td
              %p
                Длина – 800-2700 мм
              %p
                Нагрузка – до 350 кг/шт
              %p
                Окрашенная (RAL7035, RAL5005)
          %tr{:align => "center"}
            %td
              =image_tag("", :width => "200", :height => "200")
            %td
              Усилитель
            %td
              %p
                Длина – 300-1500 мм
              %p
                Нагрузка – до 150 кг/шт
              %p
                Окрашенный (RAL7035, RAL5005)
