%h1 Стеллажи паллетные сборно-разборные

%form{:action => "show", :method => "get", :name => "contact_form", :onsubmit => "return validate_form_stilage_pallet ( );"}
  .container-fluid
    .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
      %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
      On-line расчет стеллажа
    .hiden_element_1
      .row
        .col-md-2
          =label_tag(:q, "Высота")
          %p
            (2000-6000 мм)
          %p{:title => "Высота вашего стеллажа указаная в милиметрах"}
            %input{:maxlength => "4", :name => "hight", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Ширина")
          %p
            (1200-3500 мм)
          %p{:title => "Шрина полочки указаная в милиметрах"}
            %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Количество уровней")
          %p
            (2-10 шт.)
          %p{:title => "Количество уровней на одину секцию стеллажа"}
            %input{:maxlength => "2", :name => "num_of_shelves", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-2
          =label_tag(:q, "Нагрузка на уровень")
          %p
            (500-3000 кг.)
          %p{:title => "Максимальная распределенная нагрузка на один уровень хранения стеллажа"}
            %input{:maxlength => "4", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .col-md-3
          %p
      .row
        .col-md-3
          %p
          %input{:name => "send", :type => "submit", :value => "Рассчитать стеллаж", :class => "btn btn-success"}


.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-6
      =image_tag("Stillage_pallet/Pasport.png", :width => 600, :height => 400)
  .row
    .col-md-12.style_p
      Стеллаж состоит из: рам, и траверс.
      %p
        1. Рама стеллажа представляет собой две вертикальные стойки специального профиля с перфорацией, соединенных между собой горизонтальными и наклонными перемычками. Каждая рама крепится при помощи двух анкерных болтов через отверстия подошв к полу склада.
      %p
        2. Траверса представляет собой прямоугольный профиль с приваренными захватами для крепления к рамам. Крепеж траверсы к раме болтовой - согласно последним европейским стандартам
      %p
        3. Шаг перестановки траверс – 50 мм
  .row
    .col-md-12.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table Фото
          %th.header_table Название
          %th.header_table Технические характеристики
          %tr{:align => "center"}
            %td
              =image_tag("Stillage_pallet/Pasport_table_rama.png", :width => "200", :height => "200")
            %td
              Рама
            %td
              %p
                Высота:  1500-6000 мм.
              %p
                Ширина:  300-1500 мм
              %p
                Нагрузка – 15000 кг
              %p
                Оцинкованная
          %tr{:align => "center"}
            %td
              =image_tag("Stillage_pallet/Pasport_table_traversa.png", :width => "200", :height => "200")
            %td
              Траверса
            %td
              %p
                Длина – 1200-3500 мм
              %p
                Нагрузка – до 1700 кг/шт
              %p
                Окрашенная (RAL3020)

