%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  = t('page.welcome.about_as')
.container-fluid
  .row
    .col-md-12.about_us_text
      %p
        =raw t('page.welcome.about_as_text')
    .col-md-12.about_picture_container
      =image_tag('design/all_parts/about.gif', class: "about_picture_welcome", alt: 'Стеллажи')

