- if @admin_in
  - @visible_const = "display: block;"
- else
  - @visible_const = "display: none;"
  =image_tag("design/all_parts/basis.gif", class: "basis")

#block_id{:style => "#{@visible_const}"}
  =link_to image_tag("design/all_parts/basis.gif", class: "basis"), "/constants/index"

#myScroll_product
%table{:cellspacing => "5", :cellpadding => "5", :width => "100%"}
  %tr.tb1_row1_welcome{:align => "center"}
    %td
  %tr.tb1_row2_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      = link_to image_tag('design/all_parts/stillage_arxiv.gif', class: "products_buttons_welcome"), "stillage/index"
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      = link_to image_tag('design/all_parts/stillage_warehouse.gif', class: "products_buttons_welcome"), "stillage_warehouse/index"
    %td.tb1_col1_welcome

  %tr.tb1_row3_welcome{:align => "center"}

  %tr.tb1_row4_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/stillage_pallet.gif', class: "products_buttons_welcome"), "stillage_pallet/index"
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/troles.gif', class: "products_buttons_welcome"), "trolleys/index"
    %td.tb1_col1_welcome

  %tr.tb1_row3_welcome{:align => "center"}

  %tr.tb1_row4_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/stillage_mezonin.gif', class: "products_buttons_welcome"), "mezzanine/index"
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/gallery.gif', class: "products_buttons_welcome"), "gallery/index"
    %td.tb1_col1_welcome

%table{:cellspacing => "5", :cellpadding => "5", :width => "100%"}
  %tr.tb2_tr1_row1_welcome{:align => "center"}
    %td

  %tr.tb2_tr2_row2_welcome{:align => "left"}
    %td.tb2_tr3_col1_welcome
    %td.tb2_tr2_col1_welcome
      #myScroll_about
        О нас
  %tr.tb2_tr3_row3_welcome{:align => "left"}
    %td.tb2_tr3_col1_welcome
    %td.tb2_tr3_col2_welcome
      %p ЧП Кременчук - является производителем бытовых(архивных), паллетных, складских стеллажей, платформенных тележек, а также осуществляет полный комплекс услуг по проектированию, поставке и монтажу складских, промышленных и бытовых стеллажных систем.
      %p Большим преимуществом является возможность изготовить любой размер и тип стеллажной системы. Любая конструкция подбирается и просчитывается индивидуально для клиента, с учетом всех пожеланий. ПП Кременчук является производителем и предоставляет вам лучшее соотношение цены и качества.
    %td.tb2_tr3_col3_welcome
      =image_tag('design/all_parts/about.gif', class: "about_picture_welcome")
    %td.tb2_tr3_col4_welcome
