%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  = eval(@news.news_header)[locale]
.col-md-3
  = image_tag @news.photo, style: 'width: 190px;'
.col-md-7
  = raw(eval(@news.text)[locale])