%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  = @news.title[locale.to_s]
.col-md-3
  = image_tag @news.photo, style: 'width: 190px;'
.col-md-7.news_text
  = raw(@news.text[locale.to_s])
