%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Галерея
%p
%hr
%p
%h2{:align => "center"}
  Архивные стеллажи

%p
.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0456.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0456_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0457.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0457_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0458.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0458_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0459.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0459_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0460.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0460_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0462.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0462_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0466.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0466_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0468.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0468_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0470.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0470_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0461.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0461_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0463.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0463_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0464.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0464_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0465.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0465_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0467.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0467_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/IMG_0469.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/IMG_0469_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip", :href => "/assets/design/all_parts/gallery/stillage/P7010244.JPG"}
      %img{:src => "/assets/design/all_parts/gallery/stillage/thumbs/P7010244_thumbs.JPG"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p
%hr
%p
%h2{:align => "center"}
  Складские стеллажи

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0143.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0143_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0144.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0144_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0413.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0413_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0414.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0414_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0424.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0424_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_5142.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_5142_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_2477.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_2477_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_5143.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_5143_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_0149.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_0149_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_2418.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_2418_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip1", :href => "/assets/design/all_parts/gallery/werehouse/IMG_2421.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/werehouse/thumbs/IMG_2421_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p
%hr
%p
%h2{:align => "center"}
  Паллетные стеллажи

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip2", :href => "/assets/design/all_parts/gallery/pallet/IMG_7070.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/pallet/thumbs/IMG_7070_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip2", :href => "/assets/design/all_parts/gallery/pallet/IMG_7103.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/pallet/thumbs/IMG_7103_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip2", :href => "/assets/design/all_parts/gallery/pallet/IMG_7105.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/pallet/thumbs/IMG_7105_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip2", :href => "/assets/design/all_parts/gallery/pallet/IMG_7091.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/pallet/thumbs/IMG_7091_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p
%hr
%p
%h2{:align => "center"}
  Тележки

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip3", :href => "/assets/design/all_parts/gallery/trolleys/IMG_3885.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/trolleys/thumbs/IMG_3885_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip3", :href => "/assets/design/all_parts/gallery/trolleys/IMG_3888.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/trolleys/thumbs/IMG_3888_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip3", :href => "/assets/design/all_parts/gallery/trolleys/IMG_3894.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/trolleys/thumbs/IMG_3894_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip3", :href => "/assets/design/all_parts/gallery/trolleys/IMG_3887.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/trolleys/thumbs/IMG_3887_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p
%hr
%p
%h2{:align => "center"}
  Мезонинные стеллажи

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_0315.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_0315_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_0311.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_0311_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1639.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1639_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1643.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1643_thumbs.jpg"}
  .col_horizon_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1044.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1044_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p

.row_gallery
  %div{:style => " width:100%; height:1px; clear:both;"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1049.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1049_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1053.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1053_thumbs.jpg"}
  .col_vertical_arxiv_gallery
    %a{"data-lightbox" => "roadtrip4", :href => "/assets/design/all_parts/gallery/mezzanine/IMG_1055.jpg"}
      %img{:src => "/assets/design/all_parts/gallery/mezzanine/thumbs/IMG_1055_thumbs.jpg"}
  %div{:style => " width:100%; height:1px; clear:both;"}

%p