%h1
  Галерея








%a{:href => "/assets/img/demopage/image-1.jpg", "data-lightbox" => "roadtrip", :title => "Click anywhere outside the image or the X to the right to close."}
  %img{:src => "/assets/img/demopage/thumb-1.jpg"}
%a{"data-lightbox" => "roadtrip", :title => "My caption", :href => "/assets/img/demopage/image-2.jpg"}
  %img{:src => "/assets/img/demopage/thumb-2.jpg"}
%a{"data-lightbox" => "roadtrip", :title => "My caption", :href => "/assets/img/demopage/image-3.jpg"}
  %img{:src => "/assets/img/demopage/thumb-3.jpg"}


%img{:src => "/assets/img/close.png"}