// Place all the styles related to the constants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text_size
{
  //border: 1px solid #CCC;
  //border-right-color: #999;
  //border-left-color: #999;
  //border-bottom-color: #BBB;
  //border-top: #B00100 solid 4px;
  //border-top-left-radius: 9px;
  //border-top-right-radius: 9px;
  //background-color: white;
  //padding: 7px 12% 0;
  //box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  font-size: 150%;
  cursor: pointer;

}

.input_style
{
  text-align: right;
  //width: 20px;
  height: 34px;
}

.color_head
{
  background-color: rgb(146, 255, 14);
}
