%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  Контакты
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/mezzanine/IMG_1640.JPG", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")
%p
.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      Многоярусные системы собраные на основе элементов складских или паллетных стеллажей. Также мезонинные конструкции
      могут поставляться в виде пладформ индивидуального решения.
      %p.style_text_about_stillage_stillage_warehouse_stillage_pallet
        Мезонинная конструкция позволяет увеличить полезную площадь склада, используется для размещения офисного пространства,
        легких стеллажных конструкций, дополнительных торговых площадей.
      %p.style_text_about_stillage_stillage_warehouse_stillage_pallet
        Перекрытие пола в мезонинах можно организовывать по всей площади конструкции или только в проходах между стеллажами.
        В качестве перекрытия могут использоваться высокопрочные древесные плиты МДФ, ДСП, OSB или металлические оцинкованные решетки, способные выдерживать нагрузки до 1000 кг на 1 м.кв.
        Конструкция предполагает одинаковые проходы между рядами стеллажей на всех этажах мезонина или сплошную платформу верхнего этажа, огражденную перилами.