- contact_map = ''
%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.contacts.index.header')
.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet.contact_text
      - @contacts.each do |contact|
        - if eval(contact.name)[locale] == 'map'
          - contact_map = contact
          - next
        - else
          .col-md-12
            .col-md-4
              %li
                = "#{eval(contact.name)[locale]}:"
            .col-md-8
              = raw(eval(contact.text)[locale])
%hr
#contact_map.container-fluid
  .row
    .col-md-12
      %p.style_text_about_stillage_stillage_warehouse_stillage_pallet{:align => "center"}
        =t('page.contacts.index.map')
      %p{:align => "center"}
        %iframe{:class => "google_map", :allowfullscreen => "", :frameborder => "20", :src => "#{eval(contact_map.text)[locale]}", :style => "border:0"}