/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";


p {
  text-indent: 20px; /* Отступ первой строки в пикселах */
}

html, body {
  background: url("design/all_parts/background.jpg"); // center; //no-repeat center center fixed //no-repeat center center fixed
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  /* Растягиваем документ на всю высоту окна */
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

* html .main
{ /* хак для ie6 */
  min-height: 100%; /* для ие6, т.к. не понимает min-height */
}

.wrapper
{
  display: table;
  width: 1024px;
  margin: auto;
  min-height: 81.9vh;
  padding-top: 65px;
}

.fix_header {
  position: fixed;
  font-size: 15px;
  top: 0;
  z-index: 999998;
  color: white;
  width: 100%;
  background: #191208;
}

.layout_table {
  height: 65px;
  border: 1px;
  width: 100%;
  text-align: center;
}

.col_header1
{
  height: 100%;
  vertical-align: middle;
}

.col_header2
{
  height:100%;
  font-weight: 700;
  font-size: 14px;
  padding-top: 11px;
}

.col_header3
{
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  padding-top: 22px;
}

.col_header4 {
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  padding-top: 22px;
}

.col_header5
{
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  padding-top: 22px;
}


// блок випадаючого меню
    ul.dropdown li
    {
      position: relative;
      z-index: 1;
    }
    ul.dropdown-inside
    {
      position: absolute;
      left: -9999px;
      width: 320px;
    }
    .locale_view ul.dropdown-inside
    {
      position: absolute;
      left: -9999px;
      width: 181px;
    }
    ul.dropdown-inside > li
    {
      height: 50px;
      line-height: 45px;
      border: 1px solid #000000;
    }
    ul.dropdown li.dropdown-top
    {
      display: inline;
      float: left;
      top: 43px;
      margin-left: -15px;
    }
    ul.dropdown li.dropdown-top a
    {
      padding: 3px 10px 4px;
      display: block;
      color: white;
    }
    ul.dropdown .dropdown-inside
    {
      background: #462501;
    }
    ul.dropdown .dropdown-inside a:hover
    {
      height: 50px;
      line-height: 45px;
      background: #9a2917;
      text-decoration: none
    }
    .col_header2 a
    {
      color: white;
    }

    .col_header2 a:hover
    {
      color: white;
      text-decoration: underline;
    }
    .col_header3:hover ul {
      display: inline;
      left: 0;
    }
    .col_header3:hover
    {
      background: #FE7D14;
      cursor: default;
    }
    .col_header3  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .col_header4  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .col_header4:hover ul {
      display: inline;
      left: 0;
    }
    .col_header4:hover
    {
      background: #FE7D14;
      cursor: default;
    }

    .col_header5  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .col_header5  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .col_header5:hover ul {
      display: inline;
      left: 0;
    }

    .col_header5:hover
    {
      background: #FE7D14;
      cursor: default;
    }
//---блок випадаючого меню---

.footer_contacts{
  font-size: 12px;
  text-indent: 20px;
  margin-left: -60px;
  padding-top: 10px;

}
.footer_style{
  padding-top: 5px;
  font-size: 12px;
  text-indent: 20px;
  width: 50%;
}
.footer_text{
  padding-top: 10px;
  font-size: 12px;
}

.boofer
{
  height: 150px;
}
.fix_footer
{
  width: 100vw;
  font-size: 10px;
  background: #FE7D14;
  color: #191208;
  min-height: 100px;
  left: 0;
  margin-top: 50px;
  position: absolute;
}

.fix_footer table{
  position: absolute;
  width: 100%;
}

.logo
{
  width: 89px;
  height: 55px;
}

.span_header
{
  display:table-cell;
  height:100%;
}

.span_header:nth-child(odd)
{
  width: 30%;
}


.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

h1, h2 {
  text-align: center;
}

