/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
//@import "bootstrap-sprockets";
@import "bootstrap";
//@import "~bootstrap/scss/bootstrap";
//@import "font-awesome-sprockets";
@import "font-awesome";

$scroll-bar: 15px;

p {
  text-indent: 20px; /* Отступ первой строки в пикселах */
}

html, body {
  background-image: url(asset-path("design/all_parts/background.jpg")); // center; //no-repeat center center fixed //no-repeat center center fixed
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  /* Растягиваем документ на всю высоту окна */
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

* html .main
{ /* хак для ie6 */
  min-height: 100%; /* для ие6, т.к. не понимает min-height */
}

.wrapper
{
  display: table;
  width: 1024px;
  margin: auto;
  min-height: 81.9vh;
  padding-top: 65px;
}

.layout_table {
  height: 65px;
  border: 1px;
  width: 100%;
  text-align: center;
}

// блок випадаючого меню
    ul.dropdown li
    {
      position: relative;
      z-index: 1;
    }

.logo
{
  width: 130px;
  //height: 72px;
  margin-top: -2px;
}

h1, h2 {
  text-align: center;
}

#hidenelement1a, #hidenelement2, #hidenelement3, #hidenelement3, #hidenelement4, #hidenelement5,
#hidenelement6, #hidenelement7, #hidenelement8, #hidenelement9, #hidenelement10a, #hidenelement11a,
#hidenelement12a,#hidenelement13a, #hidenelement14a, #hidenelement15a {
  display: none;
}
