/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sprockets";
@import "bootstrap";

.button_style {
  border-radius: 20%;
  background: rgb(255, 255, 255);
  text-align: center;
}
.header_table {
  //align: center;
  text-align: center;
}

.hiden_element_1 {
  display: none;
}
.hiden_element_2 {
  display: none;
}
.hiden_element_3 {
  display: none;
}
.hiden_element_4 {
  display: none;
}
body {
  background: url(3.png);

}


@media (min-width:100px) and (min-height:100px) {
   h1 {
     text-height: 1px;
     height: 50px; /* Высота шапки */

   }
  .description_of_the_company
  {
    //font-size: 15px;
    background: rgb(255, 255, 0);
  }

}

/*
  h1 {
    // display: block; /* Для старых браузеров
    height: 50px; /* Высота шапки
    //background: url(2.jpg);
  }

  // background: linear-gradient(180deg, rgba(30,87,153,1) 50%,rgba(125,185,232,0) 100%);

  body {
    background: url(3.png);

  }

  //p {
  //  min-height: 1em;
  //}
  .button_style {
    border-radius: 20%;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  .header_table {
    //align: center;
    text-align: center;
  }

  .hiden_element_1 {
    display: none;
  }
  .hiden_element_2 {
    display: none;
  }
  .hiden_element_3 {
    display: none;
  }
  .hiden_element_4 {
    display: none;
  }
  */