// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_header a {
  color: var(--stm-text) !important;
  float: left;
}

.article_header {
  text-align: center;
}

.article_padding_to_footer {
  padding-bottom: 30px;
  font-size: 18px;
}
