// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google_map
{
  width: 600px;
  height: 450px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  background: #FE7D14;
}

.contact_text {
  padding-left: 100px;
}