// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #FE7D14;

.head2{
  background-color: $color;
}

.row_gallery_view {
  height: 74vh;
  width: 100%;
  text-align:center;
  display: flex;
  align-items: center;
}

.photo_box > img {
  height: 80vh;
  margin-left: -15px;
}

.fa-circle-arrow-left, .fa-circle-arrow-right, .fa-circle-xmark {
  color: $color;
  font-size: 70px;
}

.row_gallery_view_close > a {
  float: right;
}

.previous_button {
  width: 90px;
}

.col_horizon_arxiv_gallery
{
  height: 120px;
  width: 150px;
}

.col_vertical_arxiv_gallery
{
  height: 157px;
  width: 120px;
}
