$theme_color: #FE7D14;


.admin_panel_link a:visited{
  color: #0076ff;
  font-size: 18px;
  font-weight: 500;
}
.admin_panel_link a{
  color: #0076ff;
  font-size: 18px;
  font-weight: 500;
}

.admin_panel_link a:hover{
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.admin_panel_link a:active{
  color: #0076ff;
  font-size: 14px;
  font-weight: 500;
}

.layout_table {
  border: 1px;
  width: 100%;
}

.table_position_trolleys ul > li {
  margin-left: -20px;
}

.radio_button_label{
  font-weight: 200;
  margin-left: -20px;
}
.radio_button_label_in_table {
  font-weight: 200;
  //margin-left: -20px;
}

.welcome_img_text{
  position: absolute;
  top: 152px;
  width: 100%;
}

.hiden_element_1 {
  display: none;
}
.hiden_element_2 {
  display: none;
}
.hiden_element_3 {
  display: none;
}
.hiden_element_4 {
  display: none;
}



* {
  //margin: 0;
  //padding: 0;
}

.locales_list {
  //z-index: 999999;
  //position: absolute;
  //top: 50px;
  //right: 100px;
  //background-color: red;
  //opacity: 0.1;
}

.locale_view {
  //z-index: 999999;
  //position: relative;
  //top: 0;
  //font-size: 14px;
  //font-weight: 800;
  //float: right;
  //min-width: 60px;
  //border: 1px solid white
}



h3{
  font-size: 30px;
}




  .text_in_trolleys
  {
    font-size: 18px;
    text-indent: 20px;
    color: #ff0000;
  }
  .text_in_trolleys_sec
  {
    font-size: 18px;
    text-indent: 20px;
  }
  .tp_01
  {
    display: none;
  }
  .tp_02
  {
    display: none;
  }
  .tp_03
  {
    display: none;
  }
  .tp_04
  {
    display: none;
  }
  .tp_05
  {
    display: none;
  }
  .pt_03
  {
    display: none;
  }
  .pt_04
  {
    display: none;
  }
  .on_line_calculation_off
  {
    //background: #ff0000;
    color: #ff0000;
    font-size: 20px;
    text-indent: 20px
  }
  .alert_in_site
  {
    background: #ff0000;
    color: #ffff00;
    font-size: 20px;
    text-indent: 20px
  }
  .input_email_to_send
  {
    width: 30%;
  }
  .dimensions_stillage
  {
    //display: table;
    //text-align: center;
    padding-left: 20vw;
  }
  .indent_left_stilage
  {
    float: left;
    display: table-cell;
    width: 300px;
  }
  .indent_right_stilage
  {
    float: right;
    display: table-cell;
    width: 10%;
  }
  .dimension_image_stilage
  {
    //width: 80%;
    display: table-cell;
  }
  .dimaension_image_size_stilage
  {
    width: 277px;
    height: 420px;
  }
  .height_size_stilage
  {
    position: relative;
    left: 120px;
    top: 140px;
    transform: rotate(270deg);
  }
  .widht_size_stilage
  {
    position: relative;
    left: 40px;
    top: 460px;
    transform: rotate(25deg);
  }
  .depth_size_stilage
  {
    position: relative;
    left: 135px;
    top: 350px;
    transform: rotate(335deg);
  }

  .dimensions_stillage_warehouse
  {
    //display: table;
    //text-align: center;
    padding-left: 20px;
  }
  .indent_left_stilage_warehouse
  {
    float: left;
    display: table-cell;
    width: 300px;
  }
  .indent_right_stilage_warehouse
  {
    float: right;
    display: table-cell;
    width: 10%;
  }
  .dimension_image_stilage_warehouse
  {
    //width: 80%;
    display: table-cell;
  }
  .dimaension_image_size_stilage_warehouse
  {
    width: 435px;
    height: 562px;
  }
  .height_size_stilage_warehouse_primery
  {
    position: relative;
    left: 200px;
    top: 130px;
    transform: rotate(270deg);
  }
  .widht_size_stilage_warehouse_primery
  {
    position: relative;
    left: 125px;
    top: 560px;
    transform: rotate(18deg);
  }
  .widht_section_size_stilage_warehouse_primery
  {
    position: relative;
    left: 110px;
    top: 585px;
    transform: rotate(18deg);
  }
  .depth_size_stilage_warehouse_primery
  {
    position: relative;
    left: 290px;
    top: 380px;
    transform: rotate(325deg);
  }


  .height_size_stilage_warehouse_addl
  {
    position: relative;
    left: 200px;
    top: 130px;
    transform: rotate(270deg);
  }
  .widht_size_stilage_warehouse_addl
  {
    position: relative;
    left: 125px;
    top: 560px;
    transform: rotate(18deg);
  }
  .widht_section_size_stilage_warehouse_addl
  {
    position: relative;
    left: 110px;
    top: 585px;
    transform: rotate(18deg);
  }
  .depth_size_stilage_warehouse_addl
  {
    position: relative;
    left: 290px;
    top: 380px;
    transform: rotate(325deg);
  }

  .style_p
  {
    font-size: 20px;
  }
  .header_table {
    font-size: 20px;
    text-align: center;
  }
  .table_position_trolleys
  {
    display: table;
    border-spacing: 1px 1px;

  }
  /*.row_table_position_trolleys
  {
    display: table-cell;
  }*/




  .row_gallery
  {
    display: table;
    width: 100%;
    border-spacing: 10px 1px;
    text-align:center;
  }
  .col_horizon_arxiv_gallery
  {
    display: table-cell;
    height: 120px;
    width: 150px;
  }

  .col_vertical_arxiv_gallery
  {
    display: table-cell;
    height: 150px;
    width: 120px;
  }



  .abbout_trolleys_all
  {
    text-align: center;
  }
  .header_name_trolleys
  {
    font-size: 25px;
  }
  .distance_from_trolleys
  {
    margin-bottom: 50px;
  }

  .hiden_input_trolleys
  {
    display: none;
  }
  .alert_style
  {
    color: rgb(255,0,0);
    font-size :25px;
  }

  .hidenelement1a,.hidenelement2,.hidenelement3,.hidenelement4,.hidenelement5,.hidenelement6,.hidenelement7,.hidenelement8
  {
    display: none;
  }
  .hidenelement9,.hidenelement10a,.hidenelement11a,.hidenelement12a,.hidenelement13a,.hidenelement14a,.hidenelement15a
  {
    display: none;
  }




  .style_text_about_stillage_stillage_warehouse_stillage_pallet
  {
    font-size: 20px;
    text-indent: 20px
  }
  .header_stillage_stillage_warehouse_stillage_pallet_trolleys
  {
    text-align: center;
    font-size: 50px;
  }
  .all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
  {
    text-align: center;
  }

  .tytle_page_img_stillage_stillage_warehouse_stillage_pallet
  {
    width: 600px;
    height: 450px;
    padding: 10px 0px 10px 0px;
    background: #FE7D14;
    //border-radius: 20px;
  }

  .input_style_constant
  {
    text-align: right;
    height: 34px;
  }

  .color_head_constant
  {
    background-color: rgb(146, 255, 14);
  }

  .text_size
  {
    color: rgb(0,150,0);
    font-size: 150%;
    cursor: pointer;
  }


  .table_data_admin_panel
  {
    font-size: 18px;
  }
  .table_header_admin_panel
  {
    font-size: 22px;
  }
  .update_picture
  {
    width: 25px;
    height: 25px;
    float: right;
  }
  .text_pp
  {
    float:right;
    margin: 20px;
  }
  .tb2_tr1_row1_welcome
  {
    height: 36px;
  }
  .tb2_tr2_col1_welcome
  {
    font-size: 22px;
    color: black;
  }
  .tb2_tr3_col1_welcome
  {
    width: 102px;
  }
  .tb2_tr3_col2_welcome
  {
    width: 460px;
    font-size: 15px;
    color: black;
  }
  .tb2_tr3_col3_welcome
  {
    width: 362px;
  }

  .tb2_tr3_col4_welcome
  {
    width: 36px;
  }

  .tb1_col1_welcome
  {
    width: 192px
  }



  .tb1_col3_welcome
  {
    width: 36px
  }
  .tb1_row1_welcome
  {
    height: 36px;
  }
  .tb1_row3_welcome
  {
    height: 34px;
  }



  .colortext1
  {
    margin-left: -25px;
    font-size: 18px;
    font-weight: 700;
    color: $theme_color;
  }
  .colortext2
  {
    //margin-left: -5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
  }
  //.col1
  //{
  //  text-align: center;
  //  width: 300px;
  //}
  //.col2
  //{
  //  text-align: center;
  //  font-weight: 700;
  //  font-size: 14px;
  //  width: 181px;
  //  padding-top: 11px;
  //}
  //.col3
  //{
  //  text-align: center;
  //  font-weight: 700;
  //  font-size: 14px;
  //  width: 181px;
  //}
  //.col5
  //{
  //  text-align: center;
  //  font-weight: 700;
  //  font-size: 14px;
  //  width: 181px;
  //}
  //.col4 {
  //  text-align: center;
  //  font-weight: 700;
  //  font-size: 14px;
  //  width: 181px;
  //}







