

.layout_table {
  border: 1px;
  width: 100%;
}

#hiden_element_1 {
  display: none;
}
#hiden_element_2 {
  display: none;
}

#btnControl_1 {
  display: none;
}
#btnControl_1:checked + label .text_size{
  float: left;
}

#btnControl_1:checked + label #hiden_element_1 {
  display: block;
}

#btnControl_2 {
  display: none;
}
#btnControl_2:checked + label .text_size{
  float: left;
}

#btnControl_2:checked + label #hiden_element_2 {
  display: block;
}

* {
  //margin: 0;
  //padding: 0;
}

h3{
  font-size: 30px;
}

  .tp_01
  {
    display: none;
  }
  .tp_02
  {
    display: none;
  }
  .tp_03
  {
    display: none;
  }
  .tp_04
  {
    display: none;
  }
  .tp_05
  {
    display: none;
  }
  .pt_03
  {
    display: none;
  }
  .pt_04
  {
    display: none;
  }

  .alert_in_site
  {
    background: #ff0000;
    color: #ffff00;
    font-size: 20px;
    text-indent: 20px
  }
  .input_email_to_send
  {
    width: 30%;
  }
  .dimensions_stillage
  {
    //display: table;
    //text-align: center;
    padding-left: 20vw;
  }
  .indent_left_stilage
  {
    float: left;
    display: table-cell;
    width: 300px;
  }
  .indent_right_stilage
  {
    float: right;
    display: table-cell;
    width: 10%;
  }
  .dimension_image_stilage
  {
    //width: 80%;
    display: table-cell;
  }
  .dimaension_image_size_stilage
  {
    width: 277px;
    height: 420px;
  }
  .height_size_stilage
  {
    position: relative;
    left: 120px;
    top: 140px;
    transform: rotate(270deg);
  }
  .widht_size_stilage
  {
    position: relative;
    left: 40px;
    top: 460px;
    transform: rotate(25deg);
  }
  .depth_size_stilage
  {
    position: relative;
    left: 135px;
    top: 350px;
    transform: rotate(335deg);
  }

  .dimensions_stillage_warehouse
  {
    //display: table;
    //text-align: center;
    padding-left: 20px;
  }
  .indent_left_stilage_warehouse
  {
    float: left;
    display: table-cell;
    width: 300px;
  }
  .indent_right_stilage_warehouse
  {
    float: right;
    display: table-cell;
    width: 10%;
  }
  .dimension_image_stilage_warehouse
  {
    //width: 80%;
    display: table-cell;
  }
  .dimaension_image_size_stilage_warehouse
  {
    width: 435px;
    height: 562px;
  }
  .height_size_stilage_warehouse_primery
  {
    position: relative;
    left: 200px;
    top: 130px;
    transform: rotate(270deg);
  }
  .widht_size_stilage_warehouse_primery
  {
    position: relative;
    left: 125px;
    top: 560px;
    transform: rotate(18deg);
  }
  .widht_section_size_stilage_warehouse_primery
  {
    position: relative;
    left: 110px;
    top: 585px;
    transform: rotate(18deg);
  }
  .depth_size_stilage_warehouse_primery
  {
    position: relative;
    left: 290px;
    top: 380px;
    transform: rotate(325deg);
  }

  .height_size_stilage_warehouse_addl
  {
    position: relative;
    left: 200px;
    top: 100px;
    transform: rotate(270deg);
  }
  .widht_size_stilage_warehouse_addl
  {
    position: relative;
    left: 125px;
    top: 520px;
    transform: rotate(18deg);
  }
  .widht_section_size_stilage_warehouse_addl
  {
    position: relative;
    left: 110px;
    top: 545px;
    transform: rotate(18deg);
  }
  .depth_size_stilage_warehouse_addl
  {
    position: relative;
    left: 290px;
    top: 340px;
    transform: rotate(325deg);
  }

  .style_p
  {
    font-size: 20px;
  }
  .header_table {
    font-size: 20px;
    text-align: center;
  }
  .row_gallery
  {
    display: table;
    width: 100%;
    border-spacing: 10px 1px;
    text-align:center;
  }

  .hidenelement1a,.hidenelement2,.hidenelement3,.hidenelement4,.hidenelement5,.hidenelement6,.hidenelement7,.hidenelement8
  {
    display: none;
  }
  .hidenelement9,.hidenelement10a,.hidenelement11a,.hidenelement12a,.hidenelement13a,.hidenelement14a,.hidenelement15a
  {
    display: none;
  }

  .header_stillage_stillage_warehouse_stillage_pallet_trolleys
  {
    text-align: center;
    font-size: 50px;
  }

  .input_style_constant
  {
    text-align: right;
    height: 34px;
  }

  .color_head_constant
  {
    background-color: rgb(146, 255, 14);
  }

  .text_size
  {
    color: rgb(0,150,0);
    font-size: 150%;
    cursor: pointer;
  }

  .table_data_admin_panel
  {
    font-size: 18px;
  }
  .table_header_admin_panel
  {
    font-size: 22px;
  }

