// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news_header a {
  color: black !important;
}

.news_short_text{
  padding-left: 35px;
}

.news_text_area{
  width: 100%;
  height: 150px;
}
.news_data_field_class{
  width: 100%;
  background-color: #666666;
  color: white;
}