// Place all the styles related to the stillage_warehouse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_p{
  //color: #ffc;
  //background-color: #900;
  font-size: 25px;
  //margin: 0;
  //  margin-bottom: 0.5em;
  //  padding: 0.25em;
  //  font-style: italic;
  //  text-align: center;
  //  letter-spacing: 0.5em;
  //  border-bottom-style: solid;
  //  border-bottom-width: 0.5em;
  //  border-bottom-color: #c00;

}
.text_size
{
  //border: 1px solid #CCC;
  //border-right-color: #999;
  //border-left-color: #999;
  //border-bottom-color: #BBB;
  //border-top: #B00100 solid 4px;
  //border-top-left-radius: 9px;
  //border-top-right-radius: 9px;
  //background-color: white;
  //padding: 7px 12% 0;
  //box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);

  color: rgb(0,150,0);
  font-size: 150%;
  cursor: pointer;

}
