// Place all the styles related to the trolleys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_name_trolleys
{
  font-size: 25px;
}
.distance_from_trolleys
{
  margin-bottom: 50px;
}
.hiden_input
{
  display: none;
}
.alert_style
{
  color: rgb(255,0,0);
  font-size :25px;
}