.row
  .col-md-8
    .hiden_element_2
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table{:width => "60%"} Наименование
          %th.header_table Стоимость работы
        %tr.color_head_constant
          %td{:colspan => "2"} Стеллажи ПК
        %tr
          %td Пробивка стоек ПК
          %td
            .input_style_constant
              =f.input :job_stoyki_arx, label: false
        %tr
          %td Полки ПК
          %td
            .input_style_constant
              =f.input :job_polki_arx, label: false
        %tr
          %td Усилители ПК
          %td
            .input_style_constant
              =f.input :job_usil_arx, label: false
        %tr
          %td Упаковка
          %td
            .input_style_constant
              =f.input :job_upakovka_arx, label: false
        %tr
          %td Ограничители
          %td
            .input_style_constant
              =f.input :job_ogranich, label: false
        %tr
          %td Окраска стоек ПК
          %td
            .input_style_constant
              =f.input :job_okr_stoyki_arx, label: false
        %tr
          %td Окраска полок ПК
          %td
            .input_style_constant
              =f.input :job_okr_polki_arx, label: false
        %tr
          %td Работа по траверсе ТБ, ТФ
          %td
            .input_style_constant
              =f.input :job_tb_tf_traversa, label: false
        %tr
          %td Косвенные архивные
          %td
            .input_style_constant
              =f.input :job_kostven_arx, label: false
        %tr
          %td % Отхода по металлу коробчатых
          %td
            .input_style_constant
              =f.input :otxod_pk, label: false
        %tr.color_head_constant
          %td{:colspan => "2"} Складские стеллажи
        %tr
          %td Пробивка складских стоек
          %td
            .input_style_constant
              =f.input :job_stoyki_sklad, label: false
        %tr
          %td Траверсы складского
          %td
            .input_style_constant
              =f.input :job_traversi_sklad, label: false
        %tr
          %td Полки ПМ
          %td
            .input_style_constant
              =f.input :job_polki_sklad, label: false
        %tr
          %td Укосы складского
          %td
            .input_style_constant
              =f.input :job_ukosi_sklad, label: false
        %tr
          %td Усилитель стяжной
          %td
            .input_style_constant
              =f.input :job_usil_styagnoy, label: false
        %tr
          %td Усилитель Г-обр.
          %td
            .input_style_constant
              =f.input :job_usil_g, label: false
        %tr
          %td Окраска усилителей складского
          %td
            .input_style_constant
              =f.input :job_okr_usil_sklad, label: false
        %tr
          %td Окраска стоек складского
          %td
            .input_style_constant
              =f.input :job_okr_stoyki_sklad, label: false
        %tr
          %td Окраска полок складского
          %td
            .input_style_constant
              =f.input :job_ork_polki_sklad, label: false
        %tr
          %td Окраска траверс складского
          %td
            .input_style_constant
              =f.input :job_okr_traversi_sklad, label: false
        %tr
          %td Упаковка складского
          %td
            .input_style_constant
              =f.input :job_upakovka_sklad, label: false
        %tr
          %td Косвенные складского
          %td
            .input_style_constant
              =f.input :job_kostven_sklad, label: false
        %tr
          %td % Отхода по металлу складских
          %td
            .input_style_constant
              =f.input :otxod_sk, label: false
        %tr.color_head_constant
          %td{:colspan => "2"} Паллетка
        %tr
          %td Стойки паллетного
          %td
            .input_style_constant
              =f.input :job_stoyki_pallet, label: false
        %tr
          %td Траверсы паллетного
          %td
            .input_style_constant
              =f.input :job_traversi_pallet, label: false
        %tr
          %td Окраска траверс паллетного
          %td
            .input_style_constant
              =f.input :job_okr_travers_pallet, label: false
        %tr
          %td Укосы паллетного
          %td
            .input_style_constant
              =f.input :job_ukosi_pallet, label: false
        %tr
          %td Косвенные паллетки
          %td
            .input_style_constant
              =f.input :job_kostven_pallet, label: false
        %tr
          %td % Отхода по металлу паллетки
          %td
            .input_style_constant
              =f.input :otxod_pl, label: false
        %tr.color_head_constant
          %td{:colspan => "2"} Тележки
        %tr
          %td Сварка KS-01
          %td
            .input_style_constant
              =f.input :job_svarka_ks_01, label: false
        %tr
          %td Сварка KS-02
          %td
            .input_style_constant
              =f.input :job_svarka_ks_02, label: false
        %tr
          %td Сварка KS-03
          %td
            .input_style_constant
              =f.input :job_svarka_ks_03, label: false
        %tr
          %td Сварка KS-04
          %td
            .input_style_constant
              =f.input :job_svarka_ks_04, label: false
        %tr
          %td Сварка PT-01
          %td
            .input_style_constant
              =f.input :job_svarka_pt_01, label: false
        %tr
          %td Сварка PT-02
          %td
            .input_style_constant
              =f.input :job_svarka_pt_02, label: false
        %tr
          %td Сварка PT-03
          %td
            .input_style_constant
              =f.input :job_svarka_pt_03, label: false
        %tr
          %td Сварка PT-04
          %td
            .input_style_constant
              =f.input :job_svarka_pt_04, label: false
        %tr
          %td Сварка TP-01
          %td
            .input_style_constant
              =f.input :job_svarka_tp_01, label: false
        %tr
          %td Сварка TP-02
          %td
            .input_style_constant
              =f.input :job_svarka_tp_02, label: false
        %tr
          %td Сварка TP-03
          %td
            .input_style_constant
              =f.input :job_svarka_tp_03, label: false
        %tr
          %td Сварка TP-04
          %td
            .input_style_constant
              =f.input :job_svarka_tp_04, label: false
        %tr
          %td Сварка TP-05
          %td
            .input_style_constant
              =f.input :job_svarka_tp_05, label: false
        %tr
          %td Сварка TP-06
          %td
            .input_style_constant
              =f.input :job_svarka_tp_06, label: false
        %tr
          %td Сварка TP-07
          %td
            .input_style_constant
              =f.input :job_svarka_tp_07, label: false
        %tr
          %td Резка
          %td
            .input_style_constant
              =f.input :job_rezka, label: false
        %tr
          %td Окраска тележек
          %td
            .input_style_constant
              =f.input :job_okr_telegek, label: false
        %tr
          %td Гибка трубы ДУ 20х2,5
          %td
            .input_style_constant
              =f.input :job_gibka_du_20_25, label: false
        %tr
          %td Рихтовка уголка
          %td
            .input_style_constant
              =f.input :job_rixtovka_ugolka, label: false
        %tr
          %td Упаковка телег
          %td
            .input_style_constant
              =f.input :job_upakovka_teleg, label: false
        %tr
          %td Косвенные тележки
          %td
            .input_style_constant
              =f.input :job_kostven_telegi, label: false
        %tr
          %td % Отхода по металлу тележек
          %td
            .input_style_constant
              =f.input :otxod_trol, label: false
        %tr
          %td Резка 1 м/п ДСП
          %td
            .input_style_constant
              =f.input :job_rez_dsp_1mp, label: false
        %tr
          %td Процент удорожания сварки тележки с увеличением её размеров %
          %td
            .input_style_constant
              =f.input :job_procent_udor_svarki_telegki, label: false
        %tr
          %td Дилерская наценка категория №1 %
          %td
            .input_style_constant
              =f.input :job_natsen_diler, label: false
        %tr
          %td Дилерская наценка категория №2 %
          %td
            .input_style_constant
              =f.input :job_natsen_diler_second, label: false
        %tr
          %td Дилерская наценка категория №3 %
          %td
            .input_style_constant
              =f.input :job_natsen_diler_third , label: false
        %tr
          %td Розничная наценка %
          %td
            .input_style_constant
              =f.input :job_natsenka, label: false
        %tr
          %td Доставка 1 кг
          %td
            .input_style_constant
              =f.input :job_dostavka_1kg, label: false