$theme_color: #FE7D14;
@media (max-width : 980px) {
  .welcome_tb_padding
  {
    padding: 25px;
  }
  .wrap1 {
    width: 980px;
  }
  .wrapper {
    width: 980px;
  }
  .fix {
    width: 980px;
    min-width: 980px;
  }

  .col1 {
    width: 200px;
  }

  .col2, .col3, .col5, .col4 {
    width: 120px;
  }
  .basis {
    width: 980px;
    height: 427px;
  }
  .locale_view ul.dropdown-inside
  {
    width: 171px;
  }


}